<div class="app-container" [class.app-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon [innerText]="drawer.opened ? 'close' : 'menu'"></mat-icon>
      </button>
    </button>
    <span class="app-name">{{app_title}}</span>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #drawer class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
        <a mat-list-item routerLink="/forms/basic">Basic Form</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>