:host {
    display: flex;
    width: 100%;
  }
  
  .app-container {
    margin: 20px;
    width: 100%;
    font-size: 24px;
    background: #fff;
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  
  :host /deep/ h2 {
    color: #6E7790;
    font-size: 22px;
    position: relative;
    margin-bottom: 20px;
    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 7px 0;
      font-size: 14px;
    }
  }
  
  :host /deep/ .section {
    margin: 20px 0;
    display: flex;
  }
