:host {
  background: #fff;
  position: relative;
  z-index: 2;
  flex-grow: 1;
  margin-left: 20px;
  padding: 20px 30px;
  overflow-y: scroll;
  height: 100%;
}

.example-form {
  width: 100%;
}

.example-full-width {
  margin: 10px 0;
  width: 100%;
}

.output-h2 {
  margin: 10px;
}

.output-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.output-margin {
  margin: 10px;
}

.result {
  margin-top: 30px;
}


.result-output {
  display: block;
}