<form class="example-form" (ngSubmit)="onSubmit($event)" [formGroup]="parent">

    <mat-form-field class="example-full-width">
        <input formControlName="name" placeholder="What is your name?" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input formControlName="age" type="number" placeholder="Age" value="21" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea formControlName="comment" placeholder="Leave a comment" matInput></textarea>
    </mat-form-field>


    <button type="submit" [disabled]="!parent.valid" color="primary" mat-flat-button> 
        Submit
    </button>
</form>



<mat-card class="result">
    <mat-card-content>
        <h2 class="output-h2">Options:</h2>

        <section class="output-section">
            <mat-slide-toggle 
                [(ngModel)]="checked"
                class="output-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                Show output
            </mat-slide-toggle>
        </section>

        <p class="result-output" *ngIf="checked">{{ parent.value | json }}</p>
    </mat-card-content>
</mat-card>


